@model List<SistemaHospitalario.Models.Paciente>

<div class="card">
    <div class="card-header">
        <h5>Registro de Pacientes</h5>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo Sangre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SistemaHospitalario.Models.Paciente paciente in ViewBag.Pacientes )
                    {
                        <tr>
                            <th scope="row">@paciente.Cedula</th>
                            <td>@paciente.Nombre</td>
                            <td>@paciente.Apellido</td>
                            <td>@paciente.TipoSangre</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>